{% set current_year = "" %}
<div class="bookmarks">
    {% for b in bookmarks %}
        {% if b.year != current_year %}
            {% set current_year = b.year %}
            <h2 class="year">
                <a href="{{ app.pinboard_url }}u:{{ user }}/before:{{ b.ts }}">{{current_year}}</a>
            </h2>
        {% endif %}
        <div class="bookmark">
            <a class="bookmark_title" href="{{b.url}}">{{b.title}}</a><br>
            {%  if not summary_only is defined %}
                {% if b.description %}
                    <div class="description">{{b.description|trim|nl2br}}</div>
                {% endif %}
                <p class="tags">
                    {% include "bookmark_tags.html.twig" with {"tags": b.tags|split(" ")} %}
                </p>
            {% endif %}
        </div>
    {% endfor %}
</div>