{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>On this day, on your Pinboard.in</h1>
            {%  include "thisday_list.html.twig" %}
        </div>
    </div>
    {% if last_update %}
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    {% endif %}
{% endblock %}

 {% block footer %}
     <p class="feed-links">
        <a href="{{ app.url_generator.generate("summary_feed", {"user":user}) }}"
         rel="alternate" type="application/atom+xml"
         title="Atom feed with summaries for the last 7 days">
            <img src="{{ app.request.basepath }}/images/feed-icon-14x14.png" alt="feed icon" />
            Weekly Summary Feed
        </a>

         <a href="{{ app.url_generator.generate("summary_feed", {"user":user}) }}"
            rel="alternate" type="application/atom+xml"
            title="Atom feed with all the links of the current day">
             <img src="{{ app.request.basepath }}/images/feed-icon-14x14.png" alt="feed icon" />
             Daily Link Feed
         </a>
     </p>
     <hr>
     <p>
         <span class="copyright">&copy; Gabriel Birke {{ "now"|date("Y") }}</span>
         <span class="last_update">Last update: {{ last_update|date("Y-m-d H:i:s") }}</span>
     </p>
 {% endblock %}